  </div>

  <footer>
    <a href="https://www.instagram.com/falling_gracefully/"><img class="social-icon" alt="Instagram" src="{{ "img/icon-instagram.svg" | relative_url}}"></a>

    <a href="https://twitter.com/Films_FG"><img class="social-icon" alt="Twitter" src="{{ "img/icon-twitter.svg" | relative_url}}"></a>
    <a href="https://www.youtube.com/channel/UCQRp126u4rBdf432OMEfQOQ"><img class="social-icon" alt="YouTube" src="{{ "img/icon-youtube.svg" | relative_url}}"></a>
    <a href="https://www.behance.net/graceodonn6a84"><img class="social-icon" alt="Behance" src="{{ "img/icon-behance.svg" | relative_url}}"></a>
    <a href="https://www.linkedin.com/in/grace-o-donnell-8888a640/"><img class="social-icon" alt="LinkedIn" src="{{ "img/icon-linkedin.svg" | relative_url}}"></a>
  </footer>

  <script type="text/javascript">
    function menuSwitch() {
      var x = document.getElementById("topnav-toggle");
      if (x.className === "topnav") {
          x.className += " nav-show";
      } else {
          x.className = "topnav";
      }
    }
  </script>
