<div class="container">

<header class="cf site-header">
  <nav>
    <a href="{{ "/" | relative_url}}"><h1>Grace O Donnell</h1></a>
    <ul class="topnav" id="topnav-toggle">
      <li><a href="{{ "filmmaking" | relative_url}}">Filmmaking</a></li>
      <li><a href="{{ "copywriting" | relative_url}}">Copywriting</a></li>
      <li><a href="{{ "blog" | relative_url}}">Blog</a></li>
      <li><a href="{{ "about" | relative_url}}">About</a></li>
      <li><a href="{{ "contact" | relative_url}}">Contact</a></li>
      <li class="topnav-icon">
        <a href="javascript:void(0);" onclick="menuSwitch()">&#9776;</a></li>
    </ul>
  </nav>
</header>
