---
layout: default
---

<section class="hero">
  <h2 class="hero-heading"><span>Grace O Donnell</span> <span>is a freelance filmmaker</span> <span>and marketing professional.</span></h2>
</section>

<section class="feature-container cf">
  <div class="feature">
    <a href="">
      <img src="img/grace-filmmaking.jpg" alt="Filmmaking">
      <h2>Filmmaking</h2>
      <p>Quisque a nisi ornare purus scelerisque euismod et in felis</p>
    </a>
  </div>
  <div class="feature">
    <a href="">
      <img src="img/grace-marketing.jpg" alt="Marketing">
      <h2>Marketing</h2>
      <p>Quisque a nisi ornare purus scelerisque euismod et in felis</p>
    </a>
  </div>
</section>


<a class="contact-btn" href="{{ "contact" | relative_url}}">Get in touch!</a>
