---
layout: default
---

<section class="hero">
  <h2 class="hero-heading"><span>Grace O Donnell</span> <span>is an award-winning</span> <span>filmmaker and copywriter.</span></h2>
</section>

<section class="feature-container cf">
  <div class="feature">
    <a href="{{ "filmmaking" | relative_url}}">
      <img src="img/grace-filmmaking.jpg" alt="Filmmaking">
      <h2>Filmmaking</h2>
    </a>
      <p>We partner with you to make films, advertisements, documentaries, music videos, and promos. Every video by Falling Gracefully is unique and captures what's special about your organization.</p>

  </div>
  <div class="feature">
    <a href="{{ "copywriting" | relative_url}}">
      <img src="img/grace-copywriting.jpg" alt="Marketing">
      <h2>Copywriting</h2>
    </a>
      <p>Your copy represents your business, so make sure it's written by someone you can trust. I've been writing SEO&#8209;optimized copy for six years with a range of international organizations.</p>
  </div>
</section>


<a class="contact-btn" href="{{ "contact" | relative_url}}">Get in touch!</a>
